<a href="https://colab.research.google.com/github/zwzzhong/Multi-language_Translator/blob/master/Simple_Multi_languages_Translator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Simple Multi-languages Translator**

In [0]:
!pip -q install -U textblob

In [0]:
import pandas as pd
import nltk
nltk.download('punkt')
from textblob import TextBlob

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

*    **Put verbs in any language**

In [0]:
dfZH= pd.DataFrame(
  {"RawInputsZH": ["吃",
                    "喝",
                    "玩"]}
)

dfZH.head()

  RawInputsZH
0           吃
1           喝
2           玩

In [0]:
dfFR = pd.DataFrame(
  {"RawInputsFR": ["acheter",
                    "pousser",
                    "parler"]}
)

dfFR.head()

  RawInputsFR
0     acheter
1     pousser
2      parler


*   **Create function to translate into English and show the singular & Plural form**
*  **Also show the Spanish version**

In [0]:
def translate(row):
  "This operates on a row of a Pandas DataFrame and performs an action"
  
  result = TextBlob(row)
  English_version = result.translate(to="en")
  Singular_version = English_version.words[0].singularize()
  Pluralize_version = English_version.words[0].pluralize()
  Spanish_version = English_version.translate(to="es")
  print(f"Raw phrase: {row} \n\nSingular in English: {Singular_version} \nPlural in English: {Pluralize_version} \nSpanish Version: {Spanish_version}\n\n--------------------\n")
  return Spanish_version



*   **Display the output in nice layout to increase readability**

In [0]:
dfZH["DictZH"] = dfZH["RawInputsZH"].apply(translate)

Raw phrase: 吃

Singular in English: eat
Plural in English: eats
Spanish Version: comer

--------------------

Raw phrase: 喝

Singular in English: drink
Plural in English: drinks
Spanish Version: beber

--------------------

Raw phrase: 玩

Singular in English: play
Plural in English: plays
Spanish Version: jugar

--------------------

In [0]:
dfFR["DictFR"] = dfFR["RawInputsFR"].apply(translate)

Raw phrase: acheter

Singular in English: buy
Plural in English: buys
Spanish Version: comprar

--------------------

Raw phrase: pousser

Singular in English: push
Plural in English: pushes
Spanish Version: empujar

--------------------

Raw phrase: parler

Singular in English: speak
Plural in English: speaks
Spanish Version: hablar

--------------------